*{box-sizing: border-box;}

#gallery {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#textgallery {
  display: flex;
  justify-content: space-between;
}

#galleryarrow {
  display: flex;
}

#blockgallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: solid 1px #7F7F7F;
  border-bottom: solid 1px #7F7F7F;
}

#imglallery1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#imglallery2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contimg {
  display: block;
  margin: 1rem;
  position: relative;
  width: 50%;
}

.imagehov {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #95F4F4;
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  font-size:100%;
  padding: 10%;
  text-align: center;

}
.overlay a{
  text-decoration: none;
  color: white;
}
.overlay i{
  margin-left: 1rem;
  margin-right: 1rem;
}

.contimg:hover .overlay {
  opacity: 1;
}
