.wrapper {
  height: 200px;
  max-width: 952px;
  min-width: 220px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  display: flex;
  position: absolute;
  left: 0;
  transition: all 1s ease;
}

.card {
  margin-right:1.5rem;
  display: inline-block;
}
